<div class="col s4"> 
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{image}}>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
            <p>{{description}}</p>
            <p class="caption">Posted on {{dateFormat date}}</p>
        </div>
    </div>
</div> 