    <nav class="cyan accent-4">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo right">GAMIFY</a>
          <ul id="nav-mobile" class="hide-on-med-and-down">
           {{#if isAuthenticated}}
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/logout">Logout</a></li>
           {{/if}} 
          </ul>
        </div>
    </nav>